<mat-card>
  <mat-card-content>
    <form #form="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Decode message</mat-label>
        <textarea type="text" name="decodeValue" matInput ngModel></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="text" name="passwordValue" required matInput ngModel>
      </mat-form-field>
      <div class="example-button-row block-btn" fxLayoutAlign="center">
        <button mat-raised-button color="primary" class="btn" [disabled]="form.invalid" (click)="onClickDecodeBtn()"><span class="material-icons">expand_more</span></button>
        <button mat-raised-button color="accent" class="btn" [disabled]="form.invalid" (click)="onClickEncodeBtn()"><span class="material-icons">expand_less</span></button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Encode message</mat-label>
        <textarea type="text" name="encodeValue" matInput ngModel></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
